#fotos{

    padding: 0 15px 15px 15px;
}
#PARRAFO_1 a{
    text-decoration: none;
    color: white;

    padding: 20px 0 0 0;
}
#footer{
    
    background-color: rgb(13, 4, 66);
    color: rgb(255, 255, 255);
}
#ficheros{
    padding: 20px 0 10px 0;
}

h1{
    color: rgb(255, 255, 255);
    font-size: 25px;
}
h2{
    color: rgb(230, 224, 211);
    font-size: 15px;
}

#header{
    background-color: rgb(22, 161, 75);
    padding: 10px;
    margin: 20px auto 20px auto;
}
#carousel p{
    padding: 15px;
}
#footer_uno{
    padding: 15px;
}
#navegador a{
    color: white;
}
#submenu a{
    color: black;
}
#enlaces{
    padding: 10px;
}
#formulario{
    padding: 25px 0 0 0;
}
#padding{
    padding: 10px 0 10px 0;
}
#letra a{
    font-size: 10px;
}
#parrafo{
    padding: 20px 20px 0 20px;
}
#especial{
    padding: 0 10px 20px 0;
}
#imagenespecial{
    padding: 10px 0 20px 0;
}
h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
}
h4{
    color: rgb(0, 0, 0);
    font-size: 15px;
}
#tab1{
    padding: 15px 0 0 0 ;
}